/* Reinicio de márgenes y padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#header {
  background-color: #232323;
  height: 45px;
  line-height: 45px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}

#navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.ul-type {
  list-style-type: none;
  display: flex;
}

.links-items {
  display: inline-block;
  margin: 0 15px;
}

.nav-links {
  color: white;
  text-decoration: none;
  padding: 5px 10px;
  display: inline-block;
  transition: color 0.3s ease;
}

.nav-links:hover {
  color: black;
}

/* Estilos para el menú de hamburguesa */
.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 20px;
}

.menu-toggle span {
  width: 25px;
  height: 3px;
  line-height: 45px;
  background-color: white;
  margin: 4px 0;
  transition: 0.4s;
}

/* Estilos para dispositivos móviles */
@media (max-width: 768px) {
  .ul-type {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 45px;
    left: 0;
    width: 100%;
    background-color: #232323;
  }

  .ul-type.active {
    display: flex;
  }

  .links-items {
    margin: 10px 0;
    text-align: center;
  }

  .menu-toggle {
    display: flex;
  }
}
